@font-face {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Kanit Regular'), local('Kanit-Regular'), url(../fonts/Kanit/Kanit-Regular.ttf) format('truetype');
    unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

@font-face {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Kanit Light'), local('Kanit-Light'), url(../fonts/Kanit/Kanit-Light.ttf) format('truetype');
    unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

html, body {
    font-family: 'Roboto', 'Kanit', sans-serif;
}

.text-primary {
    color: #e94a26!important;
}

.text-secondary {
    color: #fdc32d!important;
}

.rounded-shadow {
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
}

.box-shadow-1 {
    box-shadow: 0px 5.2029px 20.8116px rgba(24,61,93,0.08);
}

.custom-control-input-primary:focus~.custom-control-label::before {
    border-color: #e94a26 !important;
    box-shadow: 0 0 0 0.2rem rgba(126, 84, 50, 0.25) !important;
}

.custom-control-input-primary:checked~.custom-control-label::before {
    border-color: #e94a26 !important;
    background-color: #e94a26 !important;
}

.custom-control-input-primary:focus:not(:checked)~.custom-control-label::before {
    border-color: #e76c50 !important;
}

.custom-control-input-primary:not(:disabled):active~.custom-control-label::before {
    background-color: #f0b2a4 !important;
    border-color: #f0b2a4 !important;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.25s ease-out;
    background-color: #e76c50;
}

.overlay:hover {
    opacity: 0.85;
}

.overlay-text {
    color: white;
    font-size: 1.25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.hover-1:hover {
    border-color: #3a3d41!important;
    background-color: rgba(0, 0, 0, 0.05);
}

.hover-1 {
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}