<div class="pt-5 mt-5"></div>
<footer class="py-3 fixed-bottom mt-4" style="background-color: rgb(240, 240, 240)">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md">
                <small class="text-muted">Copyright <i class="fas fa-copyright"></i> 2020 EatMod. All Rights Reserved</small>
                <small class="text-muted float-right align-middle">This website is a part of the CPE101 project.</small>
            </div>
        </div>
    </div>
</footer>