<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>EatMod</title>

    <link rel="icon" type="image/png" href="../assets/images/Logo.png"/>
    <link rel="stylesheet" href="../assets/bootstrap@4.5.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/fontawesome@5.15.1/fontawesome.css">
    <link rel="stylesheet" href="../assets/css/styles.css">

    <meta property="og:url" content="https://veciter.company"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="EatMod"/>
    <meta property="og:description" content="Our website offers users food recommendation around KMUTT university. Users can select food tags to filter out foods as they desire."/>
    <meta property="og:image" content="https://vectier.company/assets/images/Logo2.png"/>

    <script src="../assets/js/jquery-3.5.1.min.js"></script>
    <script src="../assets/bootstrap@4.5.3/js/bootstrap.bundle.min.js"></script>
</head>